/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2a2a;
  padding: 1rem;
  
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.navbar-menu {
  position: absolute;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  right: 50px;
}

.navbar-item {
  margin-right: 2rem;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  transition: all 0.3s ease;
}

.navbar-link:hover {
  background-color: #4a4a4a;
  border-radius: 4px;
}


.navbar-user {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-user img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: #acacac;
}
.user-icon:hover {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.5rem;
}


.dropdown-menu {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #bbbbbb;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.3s ease;
  list-style-type: none;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  z-index: 1001; /* Dropdown menüyü daha üstte görüntülemek için */
}


.navbar-user:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  padding: 0.9rem;
  cursor: pointer;
  
  
}

.dropdown-link {
  background-color: transparent;
  color: #222222;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-decoration: none;
  border-radius: 8px;
}

.dropdown-item:hover{
  background-color:#4a4a4a ;
  border-radius: 4px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Karanlık Mod */
.dark-mode {
  background-color: #333;
  color: #fff;
}

.light-mode {
  /* Renklerin zıt renge dönmesini sağladık */
  background-color: #c3acb5;
  color: #333;
}

.light-mode .navbar-menu li .navbar-link {
  color: #333333; /* Link renkleri */
}

.light-mode .navbar-menu li .navbar-link:hover {
  background-color: #e0e0e0;
  color: #ff8615; /* Link hover arka plan rengi */
}

.light-mode .dropdown-menu {
  background-color: #ffffff; /* Dropdown arka plan rengi */
  border-color: #ed971f; /* Dropdown kenarlık rengi */
}

.light-mode .dropdown-link {
  background-color: transparent;
  color: #333;
  
}
.light-mode .dropdown-item {
  color: #333; /* Dropdown öğe rengi */
}

.light-mode .dropdown-item:hover {
  background-color: #caa839; /* Dropdown öğe hover arka plan rengi */
  border-radius: 8px;
}


.light-mode .dark-mode-button {
  /* Karanlık mod butonunun arka plan rengi */
  color: #fff; /* Karanlık mod butonunun metin rengi */
}

.light-mode .navbar-logo{
  color: #191313;
}

.light-mode .navbar-user img {
  background-color: #643460;
}